<h1>Welcome to Blocipedia!</h1>
<p>*Find our wikis at localhost:3000/wikis!*</p>
<p>Want to get more out of Blocipedia? Find out about our PREMIUM MEMBERSHIPS below!</p>
<%= button_to "Click Me!", charges_path %>
