<%= form_tag charges_path do %>
  <h3>Click below to upgrade to a Premium account!</h3>
  <p>Premium accounts are $15 and will allow you to post private wikis!</p>
  <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" ></script>
<% end %>